*{
  margin: 0;
  padding: 0;
}


.body-create-cache {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-create-cache .input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.body-create-cache .main-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 1200px;
  width: 100%;
}

.body-create-cache .title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.body-create-cache .flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
  align-items: baseline;
}

.body-create-cache .data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
}

/* .main-container .main-container .champion-card {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
} */

.body-create-cache .create-cache-img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.body-create-cache .map-container {
  flex: 3;
  height: 100%;
  overflow: hidden;
}





.body-create-cache .input-container {
  /* justify-content: space-around; */
  gap: 15px;
  align-items: center;
}
.body-create-cache .input-box-todo {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
} .body-create-cache .input-box-todo:focus{
  outline: none;
  border-color: #3b77fa;
}
.body-create-cache .add-btn {
  background-color: #3b77fa;
  color: #fff;
  border: none;
  border-radius: 50px;
  /* padding: 10px 10px; */
  height: 25px;
  width: 25px;
  cursor: pointer;
} .body-create-cache .add-btn:hover {
  background-color: #5388f8;
}
.body-create-cache .btn-create {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
} .body-create-cache .btn-create:hover {
  border-color: #28a745;
  background-color: #d9f8dc;
  color: #28a745;
}


.body-create-cache .IndicesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body-create-cache .list-item {
  background: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.body-create-cache div[role='alert'] {
  margin-bottom: 20px;
  /* position: absolute; */
  position: sticky;
  top: 5px;
  z-index: 99;
}

.alert .MuiAlert-message {
  font-size: 16px;
}

.body-create-cache .main-container .champion-card p{
  position: absolute;
  color: white;
  font-size: 35px;
}