.game-item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: #cfccde;
    margin-bottom: 25px; 
    background-color: #0d3f79;
    padding: 10px;
    gap: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.coffre-img {
    max-width: 50px;
}

.nom-organisateur{
    font-weight: 400;
}

p {
    font-weight: 200;
}
 

