.container {
    display: flex;
    flex-direction: column;
}

.profile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5 rem;
    color: #CFCCDE;
    background-color: #4e6491;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 600px) {
    .profile-details {
      flex-direction: column;
      align-items: flex-start;
      gap: 0rem;
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.champion-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .champion-image {
        width: 100px;
        height: 100px;
    }
}

.text-empty {
    color: #4e6491;
}

.create-btn{
    width:40px;
    height:40px;
    border-radius: 50%;
    border:none;
    background-color:#02163D;
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;  
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
    transition: 0.3s;
    margin-top: 10px;
  }

